<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('main') }}">대충 만든 앤아버 화테모 기록 트래커</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('main') }}">Main</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('squad') }}">Squad</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('appointments') }}">Appointments</a></li>
    </ul>
  </div>
</nav>