<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Squad Member - Tennis Squad Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container mt-4">
    <h1>Add Squad Member</h1>
    <form method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
</body>
</html>